@import './variables';

body, p, h1, h2, h3, li, ul, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    color: $color-dark;
    background-color: $color-light;
    @include play-normal;
}

#flex{
    position: relative;
    display: flex;
    flex-direction: column;
}